*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: azure;
}
.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.logo{
    width: 55px;
    height: 45px;
    margin-left: 15px;
    margin-top: 3px;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/blackbackground.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10px;
    background-color: rgba(43, 38, 38, 0.851);
    height: 65px;
}
nav{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fdc115;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 15%;
    font-size: 30px;
}
.header-text h1{
    font-size: 80px;
    color: #fdc115;
    font-weight: bold;
}
.header-text p{
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin-left: 400px;
}
#l2{
    margin-left: 600px;
}
/* --------------about---------------- */
#about{
    height: 100vh;
    padding: 80px 20px;
}
.row{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
}
#about .container,#team .container,#proj .container{
    background-color: rgba(0, 0, 0, 0);
}
 #about h1{
    font-size: 50px;
    color: #fdc115;
    font-weight: bold;
    text-align: left;
    font-family: 'Orbitron', sans-serif;
    font: orbitron;
}
.about-col-1{
  flex-basis: 45%;
}
.about-col-1 iframe{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 50%;
    margin-top: 80px;
}
.about-col-1 p{
    padding-top: 20px;
    font-size: 20px;
}

/* -------team------------ */
#team{
    padding: 30px 0;
    margin: 40px;
    height: 120vh;
}
.team-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
#team h1{
    font-size: 50px;
    color: #fdc115;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    font: orbitron;
    /* text-align: right; */
}
/* ----------events------------ */
#events{
    padding: 30px 0;
    margin: 40px;
    height: 100vh;
    font-family: 'Orbitron', sans-serif;
    font: orbitron;
}
#events h1{
    color: #fdc115;
    font-size: 50px;
    text-align: right;
    font-family: 'Orbitron', sans-serif;
    font: orbitron;

}

/* ------------events--------- */
.projects{
    /* background-image: linear-gradient(to bottom left, #42b6eb, #ffffff); */
    height: 180vh;
  }
  .grid { 
    padding: 3% 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: center;
    }
  .grid > article {
    background-color: azure;
    border-radius: 2em;
    display: inline-block;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 12px 0px black;
  }
  .grid > article img {
    border-radius: 2em;
    max-width: 100%;
  }.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px 20px;
    position: relative;
    bottom: 0;
  }
  .text > button {
    border-radius: 2em;
    background: #fdc115;
    border: 0;
    color: azure;
    padding: 10px;
    
    width: 50%;
    }
  .contact {
    display: grid;
    grid-template-columns: 50% 50%;
  } */
  div.cot>p{
    height: 100%;
  }
  #proj h1{
    color: #fdc115;
    font-size: 50px;
    text-align: right;
    margin-right: 80px;
    padding-right: 80px;
    font-family: 'Orbitron', sans-serif;
    font: orbitron;
  }
  .grid p{
    color: black;
  }
  .grid h3{
    color: grey;
  }

/*# sourceMappingURL=main.css.map */

/* ------------typing------------ */
/* .text-typing {
    font-family:monospace;
    /* text-align: left; */
    /* position: relative; */
  /* } */
  /* .text-typing::before{
    content: '';
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background: #fdc115;
    animation: blinkCursor 0.8s steps(3) infinite;
  } */
  /* @keyframes blinkCursor {
    0%,75% {
        border-right:2px solid transparent;
        opacity:1;

    } */
    /* 76%,100% {
        border-right:2px solid #fdc115;
        opacity: 0;
    } */
  
    /* .text-typing h1 {
      margin: 2em 0; 
    text-align: left;
    font-weight: bold;
    font-size: 3.5em;
    width:fit-content;
    color: rgb(0, 1, 2);
    display: inline-block;
    position: relative;
    padding: 0%;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 8s steps(19) infinite;
   blink 1s infinite;
    }
    @keyframes typing {
    0%,90,100%{width:0;}
    30%,60%,{width: 1499.2 px}
    } */
   
    /* }  */
    .anim-typewriter {
        animation: typewriter 4s steps(19) 1s 1 normal both,
        blinkTextCursor 500ms steps(19) infinite normal;
  }
  
  @keyframes typewriter {
        from {
              width: 0;
        }
        to {
              width: 10.25em;
        }
  }
  
  @keyframes blinkTextCursor {
        from {
              border-right-color: rgba(255, 255, 255, 0.75);
        }
        to {
              border-right-color: transparent;
        }
  }
  .line {
    position: relative;
    top: 50%;
    width: 16em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 180%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;transform: translateY(-50%);
}

/* ---------feedback---------  */
.secondary-description {
    color: #bcbfc8;
    font-family: 'Bahnschrift', sans-serif;
    font-size: 25px;
    font-weight: 100;
    line-height: 1.2;
    letter-spacing: 0.5px;
    margin: 10px 0px;
}
.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    max-width: 1024px;
}
.section-1 {
    margin-top: 66px;
    padding-top: 20px 0px;
}

.heading {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 5rem;
    font-weight: 700;
}
.primary-description {
    color: #f6f8f7;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 17px;
}

.secondary-description {
    color: #bcbfc8;
    font-family: 'Bahnschrift', sans-serif;
    font-size: 25px;
    font-weight: 100;
    line-height: 1.2;
    letter-spacing: 0.5px;
    margin: 10px 0px;
}

.tertiary-description {
    color: #bcbfc8;
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 1px;
}
form {
    display: inline-block;
    margin: 0 auto;
    width: 60%;
    max-width: 80vw;
    background-color: rgba(52, 56, 68, 0.29);
    padding: 10px;
    border-radius: 4px;
    transition: all 0.2s;
}
.form-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 45%;
}

.form-2 {
    width: 80%;
    margin: 0 auto;
}


.form-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px;
    width: 100%;
    background-color: var(--dark-cards);
}

.form-3 input {
    width: 60%;
    border: 0.2px solid #bcbfc8;
    border-radius: 5px;
}

label {
    display: block !important;
    float: left;
    padding-top: 7px;
}

.form-field {
    display: flex;
    justify-content: space-between;
    flex-basis: 0;
    flex: 1 1 0px;
    margin: 5px;
}

input {
    margin-bottom: 20px;
}

input, textarea {
    background: none;
    margin: 0px auto !important;
    text-align: center;
    height: 50px;
    border: none;
    outline: none;
    color: #f6f8f7;
    font-size: 17px;
}

textarea {
    margin: 20px 0px;
}


.message-box {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    height: 150px;
    width: 290px;
}


.custom-select {
    margin-left: 30px;
    outline: none;
    text-align: center;
}

.custom-select:focus {
    outline: transparent;
}

/* BUTTONS */

button {
    cursor: pointer;
    padding: 0px 20px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 4px !important;
    font-size: 17px;
    font-weight: 600;
    color: #f6f8f7;
    background-color: #fdc115;
}
footer {
    width: 100%;
    padding: 40px 0px;
    height: 100px;
    bottom: 0;
}

.footer {
    display: inline-block;
    width: 100%;
    text-align: center;
    border-top: 0.2px solid #bcbfc821;
}

.footerName {
    color: var(--white-hover);
    margin: 20px auto;
}

.social {
    margin: 10px;
    cursor: pointer;
}

.social:active {
    color: #fff;
}
.container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    max-width: 1024px;
}
ion-icon {
    color: #fcfe9c;
    margin: 10px 0px;
}
.footer-inner {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
}
.footer {
    width: 100%;
    /* background: var(--color-primary-dark); */
    /* background-color:#3e3535; */
    min-height: 128px;
    color: var(--color-accent);
    border-top: dotted 2px var(--color-accent);
    padding: 0 128px;
    display: flex;
    flex-direction: column;
}
.footer-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-inner a {
    color: var(--color-accent);
    text-decoration: none;
}
.footer {
    display: inline-block;
    width: 100%;
    text-align: center;
    border-top: 0.2px solid #bcbfc821;
}


  






