*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #080808;
    color: azure;
}
.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.logo{
    width: 55px;
    height: 45px;
    margin-left: 15px;
    margin-top: 3px;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/blackbackground.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10px;
    background-color: rgba(43, 38, 38, 0.851);
    height: 65px;
}
nav{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fdc115;
    position: absolute;
    bottom: -6px;
    left: 0;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 15%;
    font-size: 30px;
}
.header-text h1{
    font-size: 80px;
    color: #fdc115;
    font-weight: bold;
}
/* --------------about---------------- */
#about{
    height: 100vh;
    padding: 80px 20px;
}
.row{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
}
#about .container,#team .container,#proj .container{
    background-color: rgba(0, 0, 0, 0);
}
#about h1{
    font-size: 50px;
    color: #fdc115;
    font-weight: bold;
    /* text-align: right; */
}
.about-col-1{
  flex-basis: 45%;
}
.about-col-1 iframe{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 50%;
    margin-top: 80px;
}
.about-col-1 p{
    padding-top: 20px;
    font-size: 20px;
}

/* -------team------------ */
#team{
    padding: 30px 0;
    margin: 40px;
    height: 120vh;
}
.team-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
#team h1{
    font-size: 50px;
    color: #fdc115;
    font-weight: bold;
    /* text-align: right; */
}
/* ----------events------------ */
#events{
    padding: 30px 0;
    margin: 40px;
    height: 100vh;
}
#events h1{
    color: #fdc115;
    font-size: 50px;
    text-align: right;

}

/* ------------events--------- */
.projects{
    /* background-image: linear-gradient(to bottom left, #42b6eb, #ffffff); */
  }
  .grid { 
    padding: 3% 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    align-items: center;
    }
  .grid > article {
    background-color: azure;
    border-radius: 2em;
    display: inline-block;
    height: 100%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 12px 0px black;
  }
  .grid > article img {
    border-radius: 2em;
    max-width: 100%;
  }.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px 20px;
    position: relative;
    bottom: 0;
  }
  .text > button {
    border-radius: 2em;
    background: #fdc115;
    border: 0;
    color: azure;
    padding: 10px;
    
    width: 50%;
    }
  .contact {
    display: grid;
    grid-template-columns: 50% 50%;
  } */
  div.cot>p{
    height: 100%;
  }
  #proj h1{
    color: #fdc115;
    font-size: 50px;
    text-align: right;
    margin-right: 80px;
    padding-right: 80px;
  }
  .grid p{
    color: black;
  }
  .grid h3{
    color: grey;
  }

/*# sourceMappingURL=main.css.map */

/* ------------typing------------ */
.text-typing {
    font-family:monospace;
    text-align: left;
  }
  
    .text-typing h1 {
      /* margin: 2em 0; */
    /* text-align: left; */
    /* font-weight: bold; */
    /* font-size: 3.5em; */
    width:fit-content;
    /* color: rgb(0, 1, 2); */
    display: inline-block;
    padding: 0%;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 4s steps(18, end) forwards infinite,
                blink 1s infinite;
    }
    @keyframes typing {
    0% { width:0% }
    20%{width: 20%}
    }
    @keyframes blink {
    0%,100% {
        border-right:2px solid transparent;
    }
    50% {
        border-right:2px solid #fdc115;
    }
    }






